@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* Style default Component */
button {
  background-color: #08d;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
  padding: 10px;
  margin: 5px;
}

img {
  width: 600px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-shadow: #333;
  color: white;
  padding: 25px;
  box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
}

nav .bars img {
  display: none;
}

.logo {
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1a75dd;
  font-weight: 900;
}

.search-bar {
  width: 275px;
}

.search-bar input {
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  transition: all 2s ease-in;
}

.nav-link ul {
  list-style: none;
  display: flex;
}

.nav-link ul li {
  padding: 10px;
  margin: 10px;
}

.nav-link ul li a {
  color: white;
  text-decoration: none;
}

.nav-link ul li:hover {
  background-color: #1a75dd;
  border-radius: 3px;
}

.dropdonw {
  display: none;
}

.nav-link ul li:hover .dropdonw {
  display: block;
  position: absolute;
  background-color: #1a75dd;
  margin-top: 15px;
  margin-left: -10px;
  box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 9px -13px rgba(0, 0, 0, 0.75);
}

.nav-link ul li:hover .dropdonw ul {
  display: block;
  margin: 10px;
}

.nav-link ul li:hover .dropdonw ul li {
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0px;
  text-align: left;
  cursor: pointer;
  text-wrap: nowrap;
}

.nav-link ul li:hover .dropdonw ul li:last-child {
  border-bottom: none;
}

.nav-link ul li:hover .dropdonw ul li:hover {
  border-radius: 5px;
  background-color: #8795cf6c;
}

.nav-link ul li:hover .dropdonw ul li p {
  font-size: 2vh;
  color: rgb(219, 213, 213);
}

.nav-btn {
  display: flex;
  justify-content: space-around;
}

.nav-btn button {
  background-color: #08d;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
  text-align: center;
  width: 100%;
  box-shadow: none;
  padding: 10px;
  margin: 5px;
}

/* Style body */
main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

article {
  padding-bottom: 15px;
  text-wrap: wrap;
}

article .hero-content > h1 {
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 15px;
  text-wrap: wrap;
}

article .hero-content > p {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 50px;
  text-wrap: wrap;
}

/* Style Card */
.card {
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  overflow: hidden;
}

.card img {
  height: 250px;
  width: auto;
}

.card-title {
  background-color: #1a75dd;
  color: #fff;
  padding: 16px;
}

.card-title span {
  font-size: 14px;
  display: block;
}

.card-title h1 {
  margin: 8px 0;
  font-size: 24px;
}

footer {
  display: flex;
  background-color: #1a75dd;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav .bars img {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .logo {
    font-size: 18px;
  }

  .search-bar {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .nav-link ul {
    flex-direction: column;
  }

  .nav-link li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}
